<div class="cart">
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myCart">
		<span class="glyphicon glyphicon-shopping-cart"></span> Cart
	</button>
</div>

<div id="myCart" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
    	<div class="modal-header">Cart</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="item in cartCtl.cart track by $index">
					<div class="row">
						<div class="col-md-8">
							<p>{{item.name}} x {{item.quantity}}</p>
							<div class="input-group">
								<input class="form-control quantity" ng-model="item.quantity" ng-change="cartCtl.updateTotal()" type="number" min="1"/>
								<span class="input-group-btn">
									<button class="btn btn-default remove" ng-click="cartCtl.removeFromCart(item)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</span>
								</div>
							</div>
						<div class="col-md-4">
							{{item.price * item.quantity | currency}}
						</div>
					</div>
				</li>
				<li class="list-group-item total">
					<p> Total: {{cartCtl.updateTotal() | currency}} </p>
					<button class="btn btn-default" data-dismiss="modal">Close</button>
					<button class="btn btn-default btn-primary" ng-show="cartCtl.cart.length">Check out</button>
				</li>
			</ul>
	</div>

  </div>
</div>