<div class="cart">
	<span class="glyphicon glyphicon-shopping-cart"></span> Cart
	<div class="cart-items">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="item in cartCtl.cart track by $index">
				{{item.name}} <span>{{item.price | currency}}</span>
				<button ng-click="cartCtl.removeFromCart(item)">Remove</button>
			</li>
			<li class="list-group-item">
				Total: {{cartCtl.total | currency }}
				<button ng-show="cartCtl.cart.length">Check out</button>
			</li>
		</ul>
	</div>
</div>