<div>
	<ul class="nav nav-pills">
		<li ng-class="{ active: panel.isSelected(1) }" >
			<a href="" ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }" >
			<a href="" ng-click="panel.selectTab(2)">Specifications</a>
		</li>
		<li ng-class="{ active: panel.isSelected(3) }" >
			<a href="" ng-click="panel.selectTab(3)">Reviews</a>
		</li>
	</ul>
	<div ng-show="panel.isSelected(1)">
		<!--show when panel is selected-->
		<h4>Description</h4>
		<p>{{product.description}}</p>
	</div>
	<div ng-show="panel.isSelected(2)">
		<h4>Specifications</h4>
		<p><b>Shine:</b> {{product.shine}}</p>
		<p><b>Rarity:</b> {{product.rarity}}</p>
		<p><b>Color:</b> {{product.color}}</p>
		<p><b>Faces:</b>{{product.faces}}</p>
	</div>
	<div ng-show="panel.isSelected(3)">
		<h4>Reviews</h4>
		<blockquote ng-repeat="review in product.reviews">
			<b>Stars: {{review.stars}}</b>
			{{review.body}}
			<cite>by: {{review.author}} on {{review.createdOn | date}}</cite>
		</blockquote>
		<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
			<blockquote>
				<b>Stars: {{reviewCtrl.review.stars}}</b>
				{{reviewCtrl.review.body}}
				<cite>by: {{reviewCtrl.review.author}}</cite>
			</blockquote>
			<h4>Submit a Review</h4>
			<select  class="form-control" ng-model="reviewCtrl.review.stars" ng-options="star for star in [5,4,3,2,1]" required>
				<option value>Rate the Product</option>
			</select>
			<textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
			<input class="form-control" ng-model="reviewCtrl.review.author" placeholder="john@ex.com" title=il" type=il" required/>
			<button class="btn btn-default" type="submit">Submit</button>
		</form>
	</div>
</div>