.ng-invalid.ng-dirty {
	border-color: #Fa787E;
}

.ng-valid.ng-dirty {
	border-color: #78Fa89;
}

.container {
	max-width: 600px;
}

.cart {
	text-align: right;
	background-color: #09f985;
	font-size: 15px;
	padding: 10px;
}

.cart-items {
	position: absolute;
	z-index: 1;

}

.quantity {
	width: 80px;
}

.total {
	text-align: right;
}

.modal-content ul {
	margin-bottom: 0;
}

.form-control {
	margin-bottom: 10px;
}

.small-image {
	width: 50px;
}

.large-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.image-gallery ul {
	text-align: center;
	padding: 0;
}

.image-gallery ul li {
	display: inline-block;
}