.ng-invalid.ng-dirty {
	border-color: #Fa787E;
}

.ng-valid.ng-dirty {
	border-color: #78Fa89;
}

.header {
	text-align: center;
}

.header ul {
	padding: 0;
}

.header ul li {
	display: inline-block;;
}

.header ul li img {
	width: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

.container {
	max-width: 600px;
}

.cart {
	text-align: right;
	background-color: #428BCA;
	font-size: 15px;
	padding: 10px;
}

.cart-items {
	position: absolute;
	z-index: 1;

}

.total {
	text-align: right;
}

.modal-content ul {
	margin-bottom: 0;
}

.form-control {
	margin-bottom: 10px;
}

.small-image {
	width: 50px;
}

.large-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.image-gallery ul {
	text-align: center;
	padding: 0;
}

.image-gallery ul li {
	display: inline-block;
}

.cartConfirmContainer {
	padding: 20px;
	text-align: center;
}

.cartConfirmContainer .input-group {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.cart-confirm-modal {
	text-align: center;
}

.cart-confirm-modal button {
	width: 80px;
}

.cart-confirm-modal .modal-content {
	padding: 20px;
}

#myCart .list-group-item {
	border-radius: 0;
}

#myCart .modal-header {
	border-bottom: 0;
}